/* Reset */
body, ul, li, h1, p, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

body {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Components */
.gridWrapper {
  width: 1000px;
  padding: 150px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  overflow: hidden;
}

.gridWrapper .item {
  cursor: pointer;
  transition: ease-out 0.4s transform;
}

.gridWrapper .item:hover {
  transform: scale(0.9);
}

.gridWrapper .item:nth-of-type(3n + 1),
.gridWrapper .item:nth-of-type(3n) {
  transform: translateY(-100px);
}

.gridWrapper .item:nth-of-type(3n + 1):hover,
.gridWrapper .item:nth-of-type(3n):hover {
  transform: translateY(-100px) scale(0.9);
}

.gridWrapper .item .header {
  text-align: center;
}

.gridWrapper .item .header img {
  animation: transOpacity 1s;
}

.gridWrapper .item .contents {
  background-color: #996600;
  border-radius: 0 0 20px 20px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  box-shadow: 0 10px #493322;
  animation: transOpacity 1s;
}

.gridWrapper .item .contents .title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .gridWrapper {
    width: 800px;
    grid-template-columns: repeat(2, 1fr);
  }

  .gridWrapper .item:nth-of-type(3n + 1) {
    transform: translateY(0);
  }

  .gridWrapper .item:nth-of-type(3n) {
    transform: translateY(0);
  }

  .gridWrapper .item:nth-of-type(3n + 1):hover,
  .gridWrapper .item:nth-of-type(3n):hover {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 767px) {
  .gridWrapper {
    width: min-content;
    padding: 50px;
    grid-template-columns: 1fr;
  }
}

@keyframes transOpacity {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
